// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #5B5BFF;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$bannerColour: #89ABE3;
$white: #fff;

$backgroundColour: #FCF6F5;
$codeBackgroundColour: darken($backgroundColour, 5%);
